@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buổi 3</title>
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/assets/css/base.css" />
    <link rel="stylesheet" href="~/Content/assets/css/styleRegister.css" />
</head>
<body>
    <!-- Design -> Frontend -->
    <div class="container">
        <div class="main-slider">
            <div class="navigation">
                <div class="logo">
                    <a href="/"><img src="~/Content/assets/img-register/logo (1).png" alt="Logo" /></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="">Packages</a>
                            <ul class="submenu">
                                <li>Honeymoon Package</li>
                                <li>Travel Package</li>
                                <li>Self-Select Service</li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Tour</a></li>
                        <li class="menu-item"><a href="">About Us</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                        <li class="dropdown">
                            <a href="">Languages</a>
                            <ul class="submenu">
                                <li>Tiếng Việt</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="action-bar">
                    <button class="action-btn">
                        Liên hệ <i class="fa-solid fa-phone"></i>
                    </button>
                    <button class="action-btn">
                        Đăng nhập <i class="fa-regular fa-circle-user"></i>
                    </button>
                </div>
            </div>


            <div class="register-model">
                <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
                <h2 class="register-title">Đăng kí tài khoản</h2>
                <form class="register-form">
                    <label for="fname">Nhập tài khoản:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Nhập mật khẩu:</label><br>
                    <div class="input-group">
                        <input type="text" id="lname" name="lname"><br>
                        <span class="toggle-password"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                    <label for="lname">Nhập mật khẩu lại lần nữa:</label><br>
                    <div class="input-group">
                        <input type="text" id="lname" name="lname"><br>
                        <span class="toggle-password"><i class="fa-solid fa-eye-slash"></i></span>
                    </div>
                    <button class="action-btn-register">Đăng kí</button>
                </form>
                <div class="register-bottom">
                    Đã có tài khoản? <a href="#">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/img-register/logo (2).png" alt="Logo" /></a>
            <p>Travel helps companies manage payments easily.</p>
            <div class="social-items">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-infinity"></i></a>
            </div>
        </div>
        <div class="list-box">
            <div class="list1">
                <p>Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="list2">
                <p>Destinations</p>
                <ul>
                    <li>Maldives</li>
                    <li>Los Angerlas</li>
                    <li>Las Vegas</li>
                    <li>Torronto</li>
                </ul>
            </div>
        </div>
        <div class="subscribe-bar">
            <p class="p-top">Join Our Newsletter</p>
            <div class="bar">
                <input type="email" placeholder="Your email address">
                <button class="subscribe">Subscribe</button>
            </div>
            <p class="p-bottom">* Will send you weekly updates for your better tour packages.</p>
        </div>
        <div class="img-bottom">
            <img src="~/Content/assets/img-register/Footer img.png">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &#64 BAD. All Rights Reserved.</p>
    </div>
    <script src="~/Content/assets/js/main.js"></script>
</body>
</html>