@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/assets/css/base.css" />
    <link rel="stylesheet" href="~/Content/assets/css/styleAboutus.css?v=2" />
</head>
<body>
    <div class="container">
        <!--All trang-->
        <div class="main-slider">
            <!--Từ header đến đầu footer-->
            <div class="navigation">
                <!--Header-->
                <div class="logo">
                    <a href="/"><img src="~/Content/assets/img-aboutus/Header/logo (3).png" alt="Logo" /></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="">Packages</a>
                            <ul class="submenu">
                                <li>Honeymoon Package</li>
                                <li>Travel Package</li>
                                <li>Self-Select Service</li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Tour</a></li>
                        <li class="menu-item"><a href="">About Us</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                        <li class="dropdown">
                            <a href="">Languages</a>
                            <ul class="submenu">
                                <li>Tiếng Việt</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="action-bar">
                    <button class="action-btn">
                        Liên hệ <i class="fa-solid fa-phone"></i>
                    </button>
                    <button class="action-btn">
                        Đăng nhập <i class="fa-regular fa-circle-user"></i>
                    </button>
                </div>
            </div>
            <div class="search-tour">
                <p>READ</p>
                <h1>ABOUT US</h1>
            </div>
        </div>
    </div>
    <!--Promotion-->
    <section class="promotion">
        <div class="promotion-context">
            <p>KHUYẾN MÃI</p>
            <h2>Chúng tôi cung cấp cho<br> bạn những tour du lịch<br> Việt Nam tốt nhất</h2>
            <a href="#" class="promotion-btn">Kiểm tra gói</a>
        </div>

        <div class="promotion-bg">
            <img src="~/Content/assets/img-aboutus/mini_img/HoiAn.jpg" alt="Hội An">
            <img src="~/Content/assets/img-aboutus/mini_img/Ellipse 627.png" alt="bg-style">
            <img src="~/Content/assets/img-aboutus/mini_img/bg style.png" alt="Hội An bg">
        </div>
    </section>
    <!--video-->
    <section class="video">
        <div class="video-bg"><img src="~/Content/assets/img-aboutus/video/Rectangle 19353 (1).png" alt="vd-bg"></div>
        <div class="video-title">Wanderlust</div>
        <div class="start-btn"><img src="~/Content/assets/img-aboutus/video/ant-design_play-circle-filled.png" alt="start-btn"></div>
    </section>
    <!---->
    <section class="plans-section">
        <img src="~/Content/assets/img-aboutus/mini_img/image 919 (1).png" alt="Seashell decoration" class="decor-seashell">

        <div class="plans-container">

            <div class="plans-illustration">
                <img src="~/Content/assets/img-aboutus/mini_img/about-us-img-2 1.png" alt="Travel photos">
            </div>

            <div class="plans-content">
                <div class="section-title">
                    <p>XU HƯỚNG</p>
                    <h2>Các kế hoạch du lịch <br>phổ biến của chúng tôi</h2>
                </div>

                <div class="stats-list">
                    <img src="~/Content/assets/img-aboutus/mini_img/Group 1000001755.png">
                    <img src="~/Content/assets/img-aboutus/mini_img/Group 1000001756.png">
                    <img src="~/Content/assets/img-aboutus/mini_img/Group 1000001757.png">
                </div>
            </div>
        </div>
    </section>
    <section class="VietNam-Tours">
        <div class="VietNam-Tours-title">
            <p>KHÁM PHÁ THÊM</p>
            <h2>Các gói trong nước của chúng tôi</h2>
        </div>

        <div class="tour-grid">

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19355.png" alt="Vịnh Hạ Long">
                <div class="card-info">
                    <span class="location">Vịnh Hạ Long</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19356.png" alt="Huế">
                <div class="card-info">
                    <span class="location">Huế</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card card-tall">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19357.png" alt="Hà Giang">
                <div class="card-info">
                    <span class="location">Hà Giang</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19358.png" alt="Thủ Đô Hà Nội">
                <div class="card-info">
                    <span class="location">Thủ Đô Hà Nội</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19359.png" alt="TP.Hồ Chí Minh">
                <div class="card-info">
                    <span class="location">TP.Hồ Chí Minh</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19360.png" alt="Đà Nẵng">
                <div class="card-info">
                    <span class="location">Đà Nẵng</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19361.png" alt="Phong Nha Kẻ Bàng">
                <div class="card-info">
                    <span class="location">Phong Nha Kẻ Bàng - Quảng Bình</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19362.png" alt="Ninh Bình">
                <div class="card-info">
                    <span class="location">Quần thể danh thắng Tràng An - Ninh Bình</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19363.png" alt="Fansipan">
                <div class="card-info">
                    <span class="location">Fansipan</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19364.png" alt="Quảng Trị">
                <div class="card-info">
                    <span class="location">Quảng Trị</span>
                    <span class="price">$840</span>
                </div>
            </div>

            <div class="grid-card">
                <img src="~/Content/assets/img-aboutus/VietNam/Rectangle 19365.png" alt="Quốc Tử Giám">
                <div class="card-info">
                    <span class="location">Quốc Tử Giám</span>
                    <span class="price">$840</span>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <img src="~/Content/assets/img/Feedback_background/h1-background-img-1 1.png" alt="background">
        <img src="~/Content/assets/img/Feedback_background/Travel_Concepts_2 1.png" alt="mini-img">
        <div class="testimonials-content">
            <div class="section-title">
                <p>PROMOTION</p>
                <h2>See What Our Clients Say About Us</h2>
            </div>

            <div class="testimonial-slider">
                <img src="~/Content/assets/img/Feedback_background/Ellipse 624.png" alt="Avatar khách hàng" class="testimonial-avatar">
                <button class="slider-arrow prev-arrow">&larr;</button>
                <div class="quote-box">
                    <blockquote>
                        "Vel officiis dolor sit illo aut eligendi ullam non laudantium magnam et recusandae molestiae sit iure unde aut voluptate quaerat, id sunt provident quo possimus impedit vel doloremque."
                    </blockquote>
                    <cite>Christine Beckam - Designer</cite>
                </div>
            </div>
            <button class="slider-arrow next-arrow">&rarr;</button>
        </div>
    </section>
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/img-register/logo (2).png" alt="Logo" /></a>
            <p>Travel helps companies manage payments easily.</p>
            <div class="social-items">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-infinity"></i></a>
            </div>
        </div>
        <div class="list-box">
            <div class="list1">
                <p>Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="list2">
                <p>Destinations</p>
                <ul>
                    <li>Maldives</li>
                    <li>Los Angerlas</li>
                    <li>Las Vegas</li>
                    <li>Torronto</li>
                </ul>
            </div>
        </div>
        <div class="subscribe-bar">
            <p class="p-top">Join Our Newsletter</p>
            <div class="bar">
                <input type="email" placeholder="Your email address">
                <button class="subscribe">Subscribe</button>
            </div>
            <p class="p-bottom">* Will send you weekly updates for your better tour packages.</p>
        </div>
        <div class="img-bottom">
            <img src="~/Content/assets/img-register/Footer img.png">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &#64 BAD. All Rights Reserved.</p>
    </div>
</body>
</html>
