@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/assets/css/base.css" />
    <link rel="stylesheet" href="~/Content/assets/css/styleDetail.css" />
</head>
<body>
    <!-- Design -> Frontend -->
    <div class="container">
        <div class="main-slider">
            <!--Từ header đến đầu footer-->
            <div class="navigation">
                <!--Header-->
                <div class="logo">
                    <a href="/"><img src="~/Content/assets/img/Logo/logo (1).png" alt="Logo" /></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="">Packages</a>
                            <ul class="submenu">
                                <li>Honeymoon Package</li>
                                <li>Travel Package</li>
                                <li>Self-Select Service</li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Tour</a></li>
                        <li class="menu-item"><a href="">About Us</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                        <li class="dropdown">
                            <a href="">Languages</a>
                            <ul class="submenu">
                                <li>Tiếng Việt</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="action-bar">
                    <button class="action-btn">
                        Liên hệ <i class="fa-solid fa-phone"></i>
                    </button>
                    <button class="action-btn">
                        Đăng nhập <i class="fa-regular fa-circle-user"></i>
                    </button>
                </div>
            </div>
            <div class="landscape">
                <p>EXPLORE</p>
                <h1>Landscapes</h1>
            </div>
        </div>
     </div>
    <div class="box">
        <div class="otp-bar">
            <div class="icon-detail">
                <i class="fa-solid fa-circle-info"></i>
                <p>Thông Tin</p>
            </div>
            <div class="plan">
                <i class="fa-solid fa-calendar"></i>
                <p>Kế Hoạch Chuyến Đi</p>
            </div>
            <div class="icon-location">
                <i class="fa-solid fa-location-dot"></i>
                <p>Địa Điểm</p>
            </div>
            <div class="img-lib">
                <i class="fa-solid fa-images"></i>
                <p>Thư Viện</p>
            </div>
        </div>

        <div class="detail">
            <div class="left"> 
                <div class="swit">
                    <h2 class="title">Switzerland</h2>
                    <h2 class="money">1,000 $</h2>
                    <p>/ Mỗi cặp</p>
                </div>

                <div class="rate">
                    <img src="~/Content/assets/img-detail/items-detail/bi_star-fill.png" />
                    <img src="~/Content/assets/img-detail/items-detail/bi_star-fill.png" />
                    <img src="~/Content/assets/img-detail/items-detail/bi_star-fill.png" />
                    <img src="~/Content/assets/img-detail/items-detail/bi_star-fill.png" />
                    <img src="~/Content/assets/img-detail/items-detail/bi_star-fill.png" />
                    <p>(2.3k review)</p>
                </div>

                <p class="paragh">Ex optio sequi et quos praesentium in nostrum labore nam rerum iusto aut magni nesciunt? Quo quidem neque iste expedita est dolor similique ut quasi maxime ut deserunt autem At praesentium voluptatem aut libero nisi. Et eligendi sint ab cumque veritatis aut provident aliquam. Aut aspernatur consequuntur eum quaerat distinctio ut inventore aliquid et quasi alias ut rerum suscipit et nihil deleniti. Ex optio sequi et quos praesentium in nostrum labore nam rerum iusto aut magni nesciunt? Quo quidem neque iste expedita est dolor similique ut quasi maxime ut deserunt autem At praesentium voluptatem aut libero nisi. Et eligendi sint ab cumque veritatis aut provident aliquam. Aut aspernatur consequuntur eum quaerat distinctio ut inventore aliquid et quasi alias ut rerum suscipit et nihil deleniti.</p>

                <div class="detail-form">
                    <div class="location">
                        <h1>Địa Điểm</h1>
                        <p>: Zurich, Switzerland</p>
                    </div>
                    <div class="location-start">
                        <h1>Điểm khởi hành</h1>
                        <p>: Main Sqaure, New City</p>
                    </div>
                    <div class="time-start">
                        <h1>Thời gian khởi hành</h1>
                        <p>: Approximately 08 : 10 sáng</p>
                    </div>
                    <div class="time-end">
                        <h1>Thời gian về</h1>
                        <p>: Approximately 07 : 20 tối</p>
                    </div>
                    <div class="rule">
                        <h1>Quy định trang phục</h1>
                        <p>: Thoải mái, dễ chịu và nhẹ nhàng</p>
                    </div>
                    <div class="excluding">
                        <h1>Không bao gồm</h1>
                        <div class="excluding-list">
                            <p><i class="fa-regular fa-circle-xmark"></i>Vé xem phòng trưng bày </p>
                            <p><i class="fa-regular fa-circle-xmark"></i>Bữa trưa</p>
                        </div>
                    </div>
                    <div class="inclusive">
                        <h1>Bao gồm</h1>
                        <div class="inclusive-list">
                            <p><i class="fa-regular fa-circle-check"></i>Chỗ ở 5 sao</p>
                            <p><i class="fa-regular fa-circle-check"></i>Đưa đón sân bay</p>
                            <p><i class="fa-regular fa-circle-check"></i>Bữa sáng</p>
                            <p><i class="fa-regular fa-circle-check"></i>Hướng dẫn cá nhân</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <h1>Book This Tour</h1>
                <p>Ex optio sequi et quos praesentium in nostrum labore nam rerum iusto aut magni nesciunt? Quo quidem neque iste expedita est dolo.</p>
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-solid fa-user"></i></span>
                    <input type="text" placeholder="Tên" />
                </div>
                <br />
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" placeholder="Email" />
                </div>
                <br />
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" placeholder="Xác nhận Email" />
                </div>
                <br />
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" placeholder="Số điện thoại" />
                </div>
                <br />
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" placeholder="Ngày-Tháng-Năm" />
                </div>
                <br />
                <div class="input-group">
                    <span class="toggle-icon"><i class="fa-solid fa-tags"></i></span>
                    <input type="text" placeholder="Mã số vé" />
                </div>
                <br />
                <div class="input-group">
                    <div class="toggle-icon"><i class="fa-solid fa-message"></i></div>
                    <input type="text" placeholder="Nhắn tin" />
                </div>

                <div class="btn1">
                    <button class="btn">
                        Kiểm tra tính khả dụng
                    </button>
                </div>
                <br />
                <div class="btn2">
                    <button>
                        Đặt ngay
                    </button>
                </div>
            </div>
        </div>

        <h1>Từ bộ sưu tập ảnh của chúng tôi</h1>
        <div class="bottom">
            <div class="paragh-bottom">
                <p>Ex optio sequi et quos praesentium in nostrum labore nam rerum iusto aut magni nesciunt? Quo quidem neque iste expedita est dolor similique ut quasi maxime ut deserunt autem At praesentium voluptatem aut libero nisi. </p>
                <div class="box-img">
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19322.png" />
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19323.png" />
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19324.png" />
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19325.png" />
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19326.png" />
                    <img src="~/Content/assets/img-detail/img-picture-box/Rectangle 19327.png" />
                </div>
            </div>
            <div class="plane-img">
                <img src="~/Content/assets/img-detail/img-picture-box/273 1.png" />
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/img-register/logo (2).png" alt="Logo" /></a>
            <p>Travel helps companies manage payments easily.</p>
            <div class="social-items">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-infinity"></i></a>
            </div>
        </div>
        <div class="list-box">
            <div class="list1">
                <p>Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="list2">
                <p>Destinations</p>
                <ul>
                    <li>Maldives</li>
                    <li>Los Angerlas</li>
                    <li>Las Vegas</li>
                    <li>Torronto</li>
                </ul>
            </div>
        </div>
        <div class="subscribe-bar">
            <p class="p-top">Join Our Newsletter</p>
            <div class="bar">
                <input type="email" placeholder="Your email address">
                <button class="subscribe">Subscribe</button>
            </div>
            <p class="p-bottom">* Will send you weekly updates for your better tour packages.</p>
        </div>
        <div class="img-bottom">
            <img src="~/Content/assets/img-register/Footer img.png">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &#64 BAD. All Rights Reserved.</p>
    </div>
</body>
</html>
