@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/assets/css/base.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css?v=5" />
</head>
<body>
    <!-- Design -> Frontend -->
    <div class="container">
        <div class="main-slider">
            <div class="navigation">
                <div class="logo">
                    <a href="/"><img src="~/Content/assets/img/Logo/logo (1).png" alt="Logo" /></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="">Packages</a>
                            <ul class="submenu">
                                <li>Honeymoon Package</li>
                                <li>Travel Package</li>
                                <li>Self-Select Service</li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="">Tour</a></li>
                        <li class="menu-item"><a href="">About Us</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                        <li class="dropdown">
                            <a href="">Languages</a>
                            <ul class="submenu">
                                <li>Tiếng Việt</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="header-buttons">
                    <a href="#" class="contact-btn">Liên hệ <i class="fa-solid fa-phone"></i></a>
                    <a href="#" class="login-btn">Đăng nhập <i class="fa-regular fa-circle-user"></i></a>
                </div>
            </div>
            <div class="slider">
                <div class="slider-wrapper">
                    <a href="/"><img src="~/Content/assets/img/icon/Vector 1.png" alt="Logo" /></a>
                    <h1 class="slider-title">Dù bạn đi đâu, chúng tôi cũng sẽ đưa bạn đi đến đó</h1>

                    <div class="booking">
                        <form class="booking-detail search-bar">
                            <button type="button" class="booking-detail-item">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Đi đến?</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <button type="button" class="booking-detail-item">
                                <span>Loại hình du lịch</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <button type="button" class="booking-detail-item">
                                <span>Thời gian</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <button type="submit" class="btn_search">
                                Tìm kiếm
                            </button>
                        </form>

                    </div>
                    <div class="feedback">
                        <div class="feedback-avatars">
                            <img src="~/Content/assets/img/User/user1.png" alt="user1" />
                            <img src="~/Content/assets/img/User/user2.png" alt="user2" />
                            <img src="~/Content/assets/img/User/user3.png" alt="user3" />
                            <img src="~/Content/assets/img/User/user4.png" alt="user4" />
                            <span class="feedback-plus">+</span>
                        </div>
                        <span class="feedback-text">2.500 người đã đặt sự kiện Tommorowland trong 24 giờ qua</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Partner -->
    <section class="partners">
        <div class="partners-list">
            <img src="~/Content/assets/img/Partner/partner1.png" alt="Fly Emirates" class="partner-logo" />
            <img src="~/Content/assets/img/Partner/partner2.png" alt="Trivago" class="partner-logo" />
            <img src="~/Content/assets/img/Partner/partner3.png" alt="Airbnb" class="partner-logo" />
            <img src="~/Content/assets/img/Partner/partner4.png" alt="Turkish Airlines" class="partner-logo" />
            <img src="~/Content/assets/img/Partner/partner5.png" alt="Swiss" class="partner-logo" />
        </div>
    </section>
    <!--Best Survice-->
    <section class="best-service">
        <div class="title">
            <h5>Danh mục</h5>
            <h2>Chúng Tôi Luôn Cung Cấp Dịch Vụ Tốt Nhất</h2>
        </div>
        <div class="service">
            <div class="Guide-Tour">
                <img src="~/Content/assets/img/Service/tour-guide 1.png" alt="Tour Guide" class="service-img" />
                <h4>Các tour có hướng dẫn viên</h4>
                <p>sunt qui repellat saepe quo velit aperiam id aliquam placeat.</p>
            </div>
            <div class="Best-Flight_Option">
                <img src="~/Content/assets/img/Service/travelling 1.png" alt="Travelling" class="service-img" />
                <h4>Lựa chọn chuyến bay tốt nhất</h4>
                <p>sunt qui repellat saepe quo velit aperiam id aliquam placeat.</p>
            </div>
            <div class="Religious-Tour">
                <img src="~/Content/assets/img/Service/hands 1.png" alt="Religious" class="service-img" />
                <h4>Tour du lịch tâm linh</h4>
                <p>sunt qui repellat saepe quo velit aperiam id aliquam placeat.</p>
            </div>
            <div class="Medical-Team">
                <img src="~/Content/assets/img/Service/medical-team 1.png" alt="Medical-Team" class="service-img" />
                <h4>Bảo hiểm y tế</h4>
                <p>sunt qui repellat saepe quo velit aperiam id aliquam placeat.</p>
            </div>
        </div>
    </section>
    <!--Romantic tropical land-->
    <!-- Romantic Land Section -->
    <section class="romantic-land">
        <div class="romantic-land-container">
            <div class="illustration">
                <img src="~/Content/assets/img/Romantic_image/Illustration.png" alt="Illustration" />
            </div>
            <div class="romantic-land-content">
                <span class="romantic-offer">ƯU ĐÃI TUẦN TRĂNG MẬT</span>
                <h2 class="romantic-title">Điểm đến nhiệt đới<br>lãng mạn của chúng tôi</h2>
                <p class="romantic-desc">Khám phá những điểm đến tuyệt vời, nơi bạn có thể tận hưởng kỳ nghỉ đáng nhớ bên người thương. Chúng tôi mang đến những trải nghiệm đặc biệt cho tuần trăng mật của bạn.</p>
                <a href="#" class="romantic-btn">Tham khảo <br>gói tại đây</a>
            </div>
        </div>
    </section>
    <section class="Book-a-trip">
        <div class="context">
            <div class="heading">
                <p>Nhanh Chóng <br>Và Dễ Dàng</p>
                <h2>Đặt phòng tại khu Resort yêu thích của bạn</h2>
            </div>
            <div class="values">
                <div class="value1">
                    <img src="~/Content/assets/img/values/value1.png" alt="value1">
                    <div>
                        <p>Chọn địa điểm</p>
                        <span>Vui lòng chọn địa điểm bạn muốn đến để xem các gói dịch vụ phù hợp.</span>
                    </div>
                </div>
                <div class="value2">
                    <img src="~/Content/assets/img/values/value2.png" alt="value2">
                    <div>
                        <p>Kiểm tra tình trạng</p>
                        <span>Nhập ngày đi để kiểm tra chỗ trống cho dịch vụ bạn muốn đặt.</span>
                    </div>
                </div>
                <div class="value3">
                    <img src="~/Content/assets/img/values/value3.png" alt="value3">
                    <div>
                        <p>Bắt đầu hành trình</p>
                        <span>Cùng khám phá những điểm đến tuyệt vời cùng chúng tôi.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="illustration">
            <img src="~/Content/assets/img/values/Illustration (1).png">
        </div>
    </section>
    <div class="miniBanner">
        <img src="~/Content/assets/img/Logo/Sepratir.png" alt="mini-Banner">
    </div>
    <!--Europe Tour-->
    <section class="Europe-Tour">
        <div class="content-column">
            <div class="Eu-context">
                <p>Ưu Đãi</p>
                <h2>Chúng tôi mang đến cho bạn các tour tham quan Châu Âu tốt nhất</h2>
                <span>Khám phá những thành phố tuyệt đẹp và điểm đến nổi tiếng khắp Châu Âu với các gói tour đa dạng, giá ưu đãi. Chúng tôi cam kết mang đến cho bạn trải nghiệm đáng nhớ và dịch vụ chất lượng cao.</span>
                <button>Khám Phá Gói</button>
            </div>
            <div class="Eu-list-items">
                <div class="Eu-img1">
                    <img src="~/Content/assets/img/Europe_Tour/Destination1.png" alt="Destination1">
                    <button class="Eu-btn">700$</button>
                </div>
                <div class="Eu-img2">
                    <img src="~/Content/assets/img/Europe_Tour/Destination2.png" alt="Destination2">
                    <button class="Eu-btn">800$</button>
                </div>
                <div class="Eu-img3">
                    <img src="~/Content/assets/img/Europe_Tour/Destination3.png" alt="Destination3">
                    <button class="Eu-btn">500$</button>
                </div>
                <div class="Eu-img4">
                    <img src="~/Content/assets/img/Europe_Tour/Destination4.png" alt="Destination4">
                    <button class="Eu-btn">400$</button>
                </div>
            </div>
        </div>
        <div class="Eu-illustration">
            <img src="~/Content/assets/img/Europe_Tour/Illustration (2).png">
        </div>
    </section>
    <!--Special Offers-->
    <section class="special_offers">

        <div class="offers-card nature">
            <img src="~/Content/assets/img/special offers/Rectangle 19301.png" alt="nature">
            <div class="content-card">
                <p>Ưu Đãi Đặc Biệt</p>
                <h2>Khám Phá Thiên Nhiên</h2>
                <button class="btn-offers">Xem gói</button>
            </div>
        </div>
    </section>
    <section class="viral-tours">
        <div class="viralTours-header">
            <p>XU HƯỚNG</p>
            <h2>Các gói Tour phổ biến</h2>
        </div>

        <div class="viral-packages">

            <div class="tour-card">
                <div class="card-image-wrapper">
                    <img src="~/Content/assets/img/Viral-Tours/Banner_img/Rectangle 19305.png" alt="Switzerland" class="card-image">
                    <img src="~/Content/assets/img/Viral-Tours/Country_img/Ellipse 623.png" alt="Swiss Flag" class="country-flag">
                </div>

                <div class="card-content">
                    <div class="card-details">
                        <span><i class="fa-solid fa-calendar-days"></i> 8 Ngày</span>
                        <span><i class="fa-solid fa-user-group"></i> 25 Người Đi</span>
                    </div>
                    <div class="card-header">
                        <div class="location">
                            <h3>Switzerland</h3>
                            <p><i class="fa-solid fa-location-dot"></i>Europe</p>
                        </div>
                        <div class="rating">
                            ★★★★★
                        </div>
                    </div>
                    <div class="price">
                        <span class="current-price">1,000 $</span>
                        <span class="original-price">1,200 $</span>
                    </div>
                    <p class="description">Nam exercitationem commodi et ducimus quia in dolore animi sit mollitia amet id quod eligendi.</p>
                    <button class="btn-explore">Khám phá ngay</button>
                </div>
            </div>

            <div class="tour-card">
                <div class="card-image-wrapper">
                    <img src="~/Content/assets/img/Viral-Tours/Banner_img/Rectangle 19305 (1).png" alt="Amazon" class="card-image">
                    <img src="~/Content/assets/img/Viral-Tours/Country_img/Ellipse 623 (1).png" alt="Brazil Flag" class="country-flag">
                </div>

                <div class="card-content">
                    <div class="card-details">
                        <span><i class="fa-solid fa-calendar-days"></i> 8 Ngày</span>
                        <span><i class="fa-solid fa-user-group"></i> 30 Người Đi</span>
                    </div>
                    <div class="card-header">
                        <div class="location">
                            <h3>Amazon</h3>
                            <p><i class="fa-solid fa-location-dot"></i>Brazil</p>
                        </div>
                        <div class="rating">
                            ★★★★★
                        </div>
                    </div>
                    <div class="price">
                        <span class="current-price">1,000 $</span>
                        <span class="original-price">1,200 $</span>
                    </div>
                    <p class="description">Nam exercitationem commodi et ducimus quia in dolore animi sit mollitia amet id quod eligendi.</p>
                    <button class="btn-explore">Khám phá ngay</button>
                </div>
            </div>


            <div class="tour-card">
                <div class="card-image-wrapper">
                    <img src="~/Content/assets/img/Viral-Tours/Banner_img/Rectangle 19305 (2).png" alt="Giza" class="card-image">
                    <img src="~/Content/assets/img/Viral-Tours/Country_img/Ellipse 623 (2).png" alt="Egypt" class="country-flag">
                </div>

                <div class="card-content">
                    <div class="card-details">
                        <span><i class="fa-solid fa-calendar-days"></i> 8 Ngày</span>
                        <span><i class="fa-solid fa-user-group"></i> 155 Người Đi</span>
                    </div>
                    <div class="card-header">
                        <div class="location">
                            <h3>Giza</h3>
                            <p><i class="fa-solid fa-location-dot"></i>Egypt</p>
                        </div>
                        <div class="rating">
                            ★★★★★
                        </div>
                    </div>
                    <div class="price">
                        <span class="current-price">1,000 $</span>
                        <span class="original-price">1,200 $</span>
                    </div>
                    <p class="description">Nam exercitationem commodi et ducimus quia in dolore animi sit mollitia amet id quod eligendi.</p>
                    <button class="btn-explore">Khám phá ngay</button>
                </div>
            </div>
        </div>
    </section>
    <!--Feedback-->
    <section class="testimonials">
        <img src="~/Content/assets/img/Feedback_background/h1-background-img-1 1.png" alt="background">
        <img src="~/Content/assets/img/Feedback_background/Travel_Concepts_2 1.png" alt="mini-img">
        <div class="testimonials-content">
            <div class="section-title">
                <p>PROMOTION</p>
                <h2>See What Our Clients Say About Us</h2>
            </div>

            <div class="testimonial-slider">
                <img src="~/Content/assets/img/Feedback_background/Ellipse 624.png" alt="Avatar khách hàng" class="testimonial-avatar">
                <button class="slider-arrow prev-arrow">&larr;</button>
                <div class="quote-box">
                    <blockquote>
                        "Vel officiis dolor sit illo aut eligendi ullam non laudantium magnam et recusandae molestiae sit iure unde aut voluptate quaerat, id sunt provident quo possimus impedit vel doloremque."
                    </blockquote>
                    <cite>Christine Beckam - Designer</cite>
                </div>
            </div>
            <button class="slider-arrow next-arrow">&rarr;</button>
        </div>
    </section>
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/img-register/logo (2).png" alt="Logo" /></a>
            <p>Travel helps companies manage payments easily.</p>
            <div class="social-items">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-infinity"></i></a>
            </div>
        </div>
        <div class="list-box">
            <div class="list1">
                <p>Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="list2">
                <p>Destinations</p>
                <ul>
                    <li>Maldives</li>
                    <li>Los Angerlas</li>
                    <li>Las Vegas</li>
                    <li>Torronto</li>
                </ul>
            </div>
        </div>
        <div class="subscribe-bar">
            <p class="p-top">Join Our Newsletter</p>
            <div class="bar">
                <input type="email" placeholder="Your email address">
                <button class="subscribe">Subscribe</button>
            </div>
            <p class="p-bottom">* Will send you weekly updates for your better tour packages.</p>
        </div>
        <div class="img-bottom">
            <img src="~/Content/assets/img-register/Footer img.png">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &#64 BAD. All Rights Reserved.</p>
    </div>
    <script src="~/Content/assets/js/main.js"></script>
</body>
</html>