@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <!-- Style -->
    <link rel="stylesheet" href="~/Content/assets/css/base.css" />
    <link rel="stylesheet" href="~/Content/assets/css/stylePay.css" />
</head>
<body>
    <div class="container">
        <div class="main-slider">
            <div class="navigation">
                <div class="logo">
                    <a href="/"><img src="~/Content/img/logo.png" alt="Logo" /></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="">Home</a></li>
                        <li class="dropdown">
                            <a href="">Packages</a>
                            <ul class="submenu">
                                <li>Honeymoon Package</li>
                                <li>Travel Package</li>
                                <li>Self-Select Service</li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="@Url.Action("Travel", "Tour")">Tour</a></li>
                        <li class="menu-item"><a href="@Url.Action("Aboutus", "Tour")">About Us</a></li>
                        <li class="menu-item"><a href="">Contact</a></li>
                        <li class="dropdown">
                            <a href="">Languages</a>
                            <ul class="submenu">
                                <li>Tiếng Việt</li>
                                <li>English</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="action-bar">
                    <button class="action-btn">
                        Liên hệ <i class="fa-solid fa-phone"></i>
                    </button>
                    <button class="action-btn">
                        Đăng nhập <i class="fa-regular fa-circle-user"></i>
                    </button>
                </div>
            </div>
            <div class="pay-bar">
                <div class="pay-box">
                    <div class="info-tour">
                        <h1>Thông tin Tour</h1>
                        <img src="~/Content/assets/img-pay/Vietnam.jpg">
                        <P>Ngày khởi hành: 20-10-2025</P>
                        <P>Số lượng khách: 2 người</P>
                        <P>Chi tiết: Bao gồm vé máy bay, khách sạn 4*, buffet sáng, tham quan Bà Nà Hills</P>
                        <h2>Thành tiền: 7.500.000Đ</h2>
                    </div>
                    <div class="pay-method">
                        <h1>Chọn phương thức thanh toán</h1>
                        <div class="method">
                            <h3>Thanh toán trực tiếp</h3>
                            <p>Công ty du lịch BAD hoặc các địa điểm được ủy quyền</p>
                            <p>Địa chỉ công ty: 828 Sư Vạn Hạnh, Quận 10, TP.HCM</p>
                            <p>Giờ làm việc: 8h-17h(T2-T7)</p>
                        </div>
                        <div class="method">
                            <h3>Thanh toán bằng QR code</h3>
                            <p>Quét QR để thanh toán:</p>
                            <img src="~/Content/assets/img-pay/QR code.jpg">
                            <p>Nội dung chuyển khoản: Tên khách hàng + Địa điểm</p>
                            <button>Thanh toán<nav></nav></button>
                        </div>
                    </div>
                    <div class="pay-national">
                        <h3>Thanh toán quốc tế</h3>
                        <div class="img-pay">
                            <button1><img src="~/Content/assets/img-pay/atm.png"></button1>
                            <button1><img src="~/Content/assets/img-pay/visa.png"></button1>
                            <button1><img src="~/Content/assets/img-pay/mastercard.png"></button1>
                            <button1><img src="~/Content/assets/img-pay/jcb.png"></button1>
                        </div>
                        <div class="info-atm">
                            <p>SỐ THẺ</p>
                            <input type="text" placeholder="">
                            <p> TÊN IN TRÊN THẺ</p>
                            <input type="text" placeholder="">
                        </div>
                        <div class="item">
                            <div class="date">
                                <p>NGÀY HẾT HẠN</p>
                                <input type="text" placeholder="dd/mm/yy">
                            </div>
                            <div class="date">
                                <p>MÃ BẢO MẬT</p>
                                <input type="text" placeholder="CVV">
                            </div>
                        </div>
                        <p>*Quý khách vui lòng check kĩ các thông tin cá nhân tránh sai sót*</p>
                        <button>Thanh toán<nav></nav></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/img-register/logo (2).png" alt="Logo" /></a>
            <p>Travel helps companies manage payments easily.</p>
            <div class="social-items">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-infinity"></i></a>
            </div>
        </div>
        <div class="list-box">
            <div class="list1">
                <p>Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="list2">
                <p>Destinations</p>
                <ul>
                    <li>Maldives</li>
                    <li>Los Angerlas</li>
                    <li>Las Vegas</li>
                    <li>Torronto</li>
                </ul>
            </div>
        </div>
        <div class="subscribe-bar">
            <p class="p-top">Join Our Newsletter</p>
            <div class="bar">
                <input type="email" placeholder="Your email address">
                <button class="subscribe">Subscribe</button>
            </div>
            <p class="p-bottom">* Will send you weekly updates for your better tour packages.</p>
        </div>
        <div class="img-bottom">
            <img src="~/Content/assets/img-register/Footer img.png">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright &#64 BAD. All Rights Reserved.</p>
    </div>
</body>
</html>
